<#@ template language="C#" #>
<#@ output extension=".cs" #>
<#@ assembly name="System.Linq.dll" #>
<#@ import namespace="System.Linq" #>
#nullable enable
using System.Runtime.CompilerServices;

namespace SixTatami.Extensions;

#pragma warning disable CA1708 // Identifiers should differ by more than case
public static class TaskTupleExtensions {
#pragma warning restore CA1708 // Identifiers should differ by more than case
<# foreach (var i in Enumerable.Range(2, 15)) { #>
	extension((ValueTask t1<# foreach (var j in Enumerable.Range(2, i - 1)) { #>, ValueTask t<#= j #><# } #>) tuple) {
		public async Task WhenAll() {
<# foreach (var j in Enumerable.Range(1, i)) { #>
			var t<#= j #> = tuple.t<#= j #>.AsTask();
<# } #>
			await Task.WhenAll(t1<# foreach (var j in Enumerable.Range(2, i - 1)) { #>, t<#= j #><# } #>).ConfigureAwait(false);
		}

		[MethodImpl(MethodImplOptions.AggressiveInlining)]
		public TaskAwaiter GetAwaiter() => tuple.WhenAll().GetAwaiter();
	}

<# } #>
<# foreach (var i in Enumerable.Range(2, 15)) { #>
	extension<T1<# foreach (var j in Enumerable.Range(2, i - 1)) { #>, T<#= j #><# } #>>((ValueTask<T1> t1<# foreach (var j in Enumerable.Range(2, i - 1)) { #>, ValueTask<T<#= j #>> t<#= j #><# } #>) tuple) {
		public async Task<(T1<# foreach (var j in Enumerable.Range(2, i - 1)) { #>, T<#= j #><# } #>)> WhenAll() {
<# foreach (var j in Enumerable.Range(1, i)) { #>
			var t<#= j #> = tuple.t<#= j #>.AsTask();
<# } #>
			await Task.WhenAll(t1<# foreach (var j in Enumerable.Range(2, i - 1)) { #>, t<#= j #><# } #>).ConfigureAwait(false);
			return (t1.Result<# foreach (var j in Enumerable.Range(2, i - 1)) { #>, t<#= j #>.Result<# } #>);
		}

		[MethodImpl(MethodImplOptions.AggressiveInlining)]
		public TaskAwaiter<(T1<# foreach (var j in Enumerable.Range(2, i - 1)) { #>, T<#= j #><# } #>)> GetAwaiter() => tuple.WhenAll().GetAwaiter();
	}

<# } #>
}
