name: Lint

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CI: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Use Cache
        uses: actions/cache@v5
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: |
            ${{ runner.os }}-nuget-

      - name: Install .NET
        uses: fast-actions/setup-dotnet@v1
        with:
          sdk-version: '10.0.102'
          # 如果直接用nuget+lock文件则可以使用以下配置而不用cache action
          # cache: true

      - name: Install Dependencies
        run: dotnet restore -p:Configuration=Release
        # 如果使用nuget+lock则使用以下命令
        # run: dotnet restore --locked-mode

      - name: Get prev commit
        id: vars
        run: echo "prev_sha=$(git rev-parse HEAD~1)" >> $GITHUB_OUTPUT

      - name: Filter Path
        uses: dorny/paths-filter@v3
        id: changes
        with:
          base: ${{ steps.vars.outputs.prev_sha }}
          filters: |
            Utilities:
              - 'src/Utilities/**'
            Datastructures:
              - 'src/Datastructures/**'
            Extensions:
              - 'src/Extensions/**'
            TaggedEnum:
              - 'src/TaggedEnum/**'
            RoslynHelper:
              - 'src/RoslynHelper/**'

      - name: Build Utilities
        if: steps.changes.outputs.Utilities == 'true'
        run: ./build.sh -z 1 -c src/Utilities/Utilities.csproj

      - name: Build Datastructures
        if: steps.changes.outputs.Datastructures == 'true'
        run: ./build.sh -z 1 -c src/Datastructures/Datastructures.csproj

      - name: Build Extensions
        if: steps.changes.outputs.Extensions == 'true'
        run: ./build.sh -z 1 -c src/Extensions/Extensions.csproj

      - name: Build TaggedEnum
        if: steps.changes.outputs.TaggedEnum == 'true'
        run: ./build.sh -z 1 -c src/TaggedEnum/TaggedEnum.csproj

      - name: Build RoslynHelper
        if: steps.changes.outputs.RoslynHelper == 'true'
        run: ./build.sh -z 1 -c src/RoslynHelper/RoslynHelper.csproj
